@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 200,300,400,500;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  color: #423F3D;
}

.error {
  font-size: 35pt;
}

.contact-content {
    font-family: "Montserrat", sans-serif;
    padding: none;

}

.img-flex {
  display: block;
  width: 100%;
  overflow: hidden;
}

.large-grid-container {
  padding: 100px;
}

.grid-container, .program-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 100px;
  text-align: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}


.program-card {
  max-width: 400px;
  display: inline-block;
  margin: auto;
  justify-content: center;
}

.image-portrait {
  max-width: 100%;
}

.illustration-image, .program-grid {
  max-width: 800px;
  margin: auto;
}


a {
  color: #423F3D;
  text-decoration: none;
}

.hamburger {
  display: inline-block;
  padding: 5px;
}

.logo {
  display: inline-block;
}

.logo img {
  max-width: 60px;
}

li, h1 {
  display: inline-block;
}

.container {
    position: relative;
    width: 100%;
}

.image {
  opacity: 1;
  display: inline-block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content {
  position: absolute;
  top: 70%;
  left: 0%;
  width: 100%;
  text-align: center;
  transform: translate(0%, -50%);
  color: white;
  display: inline-block;
  font-size: 5em;
  font-family: "Montserrat", sans-serif;
}

.body-content {
  font-size: 10.5pt;
}

.contact-content {
  padding: none;
  font-size: 8.5pt;
}

.nav {
  margin: 0;
  list-style-type: none;
  padding: 10px;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: none;
  background-color: #ffffff;
  color: #d5b343;
  border-left: 0px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1000;
  font-size: 2em;
}

.navigation-bar{
  display: inline;
}

.nav, .navigation-bar a:hover {
  color: #d5b343;
}

.container:hover .image {
  opacity: .3;
}

.container:hover .middle {
  opacity: 1;
}

.btn {
  background-color: #423F3D;
  border-color: #423F3D;
}

.btn:hover {
  background-color: #d5b343;
  border-color: #d5b343;
}

.text {
  color: #423F3D;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
}

.heading {
  font-family: "Montserrat", sans-serif;
  font-size: 20pt;
  padding-bottom: .5em;
}

.heading-2 {
  font-family: "Montserrat", sans-serif;
  font-size: 20pt;
  padding-bottom: .5em;
}

.subheading {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 10pt;
  padding-bottom: 2%;
}

p {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 8.5pt;
}

.nav a:hover {
  color: #d5b343;
}
.nav-check:checked ~ .nav {
  display: block;
}

.nav-label {
  cursor: pointer;
  font-size: 1.25rem;
  width: 40px;
  display: block;
  position: relative;
  z-index: 1001;
}

.nav-check:checked ~ .nav-label {
  color: #d5b343;
}

input,
textarea,
select {
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #f5f5f5;
}

input:focus,
textarea:focus {
  background-color: #ffffff;
}

.footer {
  text-align: center;
  padding-bottom: 3%;
  padding-top: 3%;
  border: solid 1.5px #423F3D;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
  font-size: .8rem;
}

.footer-nav {
  color: #423F3D;
}

.social-icons {
  width: 100%;
}

  @media only screen and (min-width: 25em) {

    .navigation-bar {
      display: none;
    }

    .picture {
      padding-left: 2em;
      padding-right: 2em;
    }

    .pictures {
      padding-left: none;
      padding-right: none;
    }


}

@media only screen and (min-width: 38em) {

  .content {
    font-size: 10em;
  }

    .nav-check+.nav-label {
    display: none;
  }

  .nav a:hover {
    color: #d5b343;
  }


  .nav {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    left: auto;
    bottom: auto;
    background: none;
    font-size: 1em;
  }

  .nav li {
    display: inline;
  }

  .middle-nav {
    position: absolute;
    background: none;
    font-size: 1em;
    margin: 0, auto;
    list-style-type: none;
  }

  #nav {
    text-align: center;
    list-style-type: none;
  }

  #nav ul {
    display: inline-block;
    list-style-type: none;
  }

  #nav a {
    float: left;
    padding-left: 25px;
    list-style-type: none;
    font-family: "Montserrat", sans-serif;
  }
  #nav li {
    display: inline;
    list-style-type: none;

  }
  .body-content, .contact-content {
    padding-left: 10em;
    padding-right: 10em;
    font-size: 10.5pt;
  }

}

@media only screen and (min-width: 60em) {

  .content {
    font-size: 10em;
    opacity: 0.5;
  }

  .pictures {
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
  }

  .body-content, .contact-content {
    padding-left: 20em;
    padding-right: 20em;
    font-size: 11pt;
  }

  .text {
    color: #423F3D;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
  }

  .heading {
    font-family: "Montserrat", sans-serif;
    font-size: 30pt;
    padding-bottom: .5em;
  }

  .heading-2 {
    font-family: "Montserrat", sans-serif;
    font-size: 25pt;
    padding-bottom: .5em;
  }

  .subheading {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 15pt;
    padding-bottom: 2%;
  }

  p {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10pt;
  }
}

@media only screen and (min-width: 90em) {

  .content {
    font-size: 15em;
  }

  .pictures {
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
  }

  .body-content, .contact-content {
    padding-left: 30em;
    padding-right: 30em;
    font-size: 12.5pt;
  }

  .text {
    color: #423F3D;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
  }

  .heading {
    font-family: "Montserrat", sans-serif;
    font-size: 30pt;
    padding-bottom: .5em;
  }

  .heading-2 {
    font-family: "Montserrat", sans-serif;
    font-size: 25pt;
    padding-bottom: .5em;
  }

  .subheading {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15pt;
    padding-bottom: 2%;
  }

  p {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10pt;
  }

}
